.myCarWrap{
    margin:20px 10px 50px 10px;

}
.carouselItem{
    position: relative;
    margin:5px;
}
.carouselItem img{
    width:100%;
    height: 100%;
    border-radius: 20px;
    border: solid 2px #ff5860;
}
.carouselItemText {
    position: absolute;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background: rgba(0,0,0,0.8);
    padding: 10px;
    color: rgba(255,255,255,0.7);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}